
{% if template == 'product' and product.metafields.custom.pay_your_price %}

  <form id="pay-your-price-form" style="width: max-content; display: flex; flex-direction: column; align-items: center; justify-content: center; margin: 0 auto;">
    <!-- Hidden input for product variant ID -->


    <input type="hidden" name="properties[__isValid]" value="{{ product.metafields.custom.pay_your_price}}" />


    <!-- Custom price input -->
  <input 
      type="number" 
      id="price-input" 
      style="max-width:250px; outline:auto" 
      class="product-form__submit button button--full-width button--secondary"
      name="properties[__custom_price]" 
      placeholder="Enter your price" 
      step="0.01" 
    />
    <button type="submit" id="appcart_button" style="width:max-content; min-width:250px; " class="product-form__submit button button--full-width button--secondary">Add to cart</button>

  
    </form>
{% endif %}

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const template = "{{ template }}";
    const variantMetafields = {
    {% for variant in product.variants %}
      {{ variant.id }}:{
        title: "{{ variant.title }}",
        minPrice: "{{ variant.metafields.pricing.minimum_price }}",
        maxPrice: "{{ variant.price |  divided_by: 100}}",
        displayMaxPrice:"{{ variant.price | money}}",
        pay_your_price_enable: "{{ variant.metafields.pricing.pay_your_price_enable }}",
        suggested_price: "{{ variant.metafields.pricing.suggested_price | times: 100 | money | default: null}}",
        displayMinPrice: "{{ variant.metafields.pricing.minimum_price | times: 100 | money  }}"
      }{% if forloop.last == false %},{% endif %}
    {% endfor %}
  };
  console.log("Variants' Pricing Metafields:", variantMetafields);
    // document.getElementById("price-template--19028203733245__main").style.opacity = 0;
    const submitBtn = document.querySelector(".product-form__buttons > .product-form__submit");
    console.log(submitBtn);
    const form = document.getElementById("pay-your-price-form");
    const priceInput = document.getElementById("price-input");
    const errorMessageWrapper = document.querySelector(".product-form__error-message-wrapper");
    const errorMessage = document.querySelector(".product-form__error-message");
    const isValid = {% if product.metafields.pricing.enable_pay_your_price == true %} true {% else %} false {% endif %};
      console.log("isValid", isValid);
      const changeData = (id) => {
      const minPrice = variantMetafields[id]['minPrice'];
      const maxPrice = variantMetafields[id]['maxPrice'];


        const displayMinPrice = variantMetafields[id]['displayMinPrice'];
      const displayMaxPrice = variantMetafields[id]['displayMaxPrice'];
      const suggestedPrice = variantMetafields[id]['suggested_price'];
      const displaySuggestedPrice = variantMetafields[id]['suggested_price'];
      // const suggestedPrice = {% if product.metafields.pricing.suggested_price %}{{ product.metafields.pricing.suggested_price }}{% else %}null{% endif %};
      const qtyInput = document.getElementsByClassName("product-form__quantity")[0];
      const priceContainer = document.getElementsByClassName("price__regular")[0];
      // priceContainer.style.display = "none";
      // priceContainer.style.opacity = 0;
      const buttonsContainer = document.querySelector('.product-form__buttons');
      buttonsContainer.style.display = 'none';
      const shopifyCartForm = document.querySelector('product-form .form');
shopifyCartForm.style.display = "none"; //
      console.log(shopifyCartForm );

// Create the first hidden input element
const customPriceInput = document.createElement("input");
customPriceInput.type = "hidden";
customPriceInput.name="properties[__custom_price]" 
customPriceInput.id="custom_property_price" 
customPriceInput.value = 0; // Use the correct dynamic value

// Create the second hidden input element
const isValidInput = document.createElement("input");
isValidInput.type = "hidden";
isValidInput.name = "properties[__isValid]";
isValidInput.value = "{{ product.metafields.custom.pay_your_price }}"; // Use the correct dynamic value

// Append the inputs to the form
buttonsContainer.appendChild(customPriceInput);
shopifyCartForm.appendChild(isValidInput);
      if (qtyInput) {
        errorMessageWrapper.parentNode.insertBefore(form, errorMessageWrapper);
        const officialPrice = document.querySelector(".price-item");

        // const maxPrice = parseFloat("{{ product.price | divided_by: 100 }}");
        // const displayMaxPrice = "{{ product.price | money }}";
        // const displayMinPrice = "{{ product.metafields.pricing.min_price | times: 100 | money  | default: null }}";
        // const displaySuggestedPrice = "{{ product.metafields.pricing.suggested_price | times: 100 | money }}";
        
        console.log(minPrice);

        if (minPrice !== null) {
          officialPrice.innerHTML = `${displayMinPrice} - ${displayMaxPrice}`;
          if(suggestedPrice !== null){
            officialPrice.innerHTML += ` <br> Suggested Price: ${displaySuggestedPrice}`;
          }
        } else {
          const addToCartButton = document.querySelector("#appcart_button");
          showError("Please set the minimum price or suggested price in the admin panel under products for this product.");
          
          if (priceInput && addToCartButton) {
            priceInput.style.display = 'none';
            addToCartButton.style.display = 'none';
          }
        }

        form.addEventListener("submit", (event) => {
          event.preventDefault();
          const variantId = document.getElementsByClassName("product-variant-id")[0];
          console.log("Seelec",variantId)
          const submitBtn = document.querySelector(".product-form__buttons > .product-form__submit");
          console.log(submitBtn);

          // form.appendChild(variantId);
          const inputValue = parseFloat(priceInput.value);
          console.log("Min Price, " + minPrice + "Maxprice: " + maxPrice,"Input: " + inputValue);
          if (isNaN(inputValue) || inputValue < minPrice || inputValue > maxPrice) {
            event.preventDefault();
            showError(`Please enter a price between ${displayMinPrice} and ${displayMaxPrice}.`);
          } else {
            errorMessageWrapper.hidden = true;
            const customVlaue = document.getElementById("custom_property_price");
            customVlaue.value = inputValue;
            console.log("Custom Prperty Price, " + customVlaue.value);
            submitBtn.click();
            return;                                                                                                                                                           
          }
     

        });
      }
    }

    function showError(message) {
      errorMessage.textContent = message;
      errorMessageWrapper.hidden = false;
    }
    const officialPrice = document.querySelector(".price-item");

    const variantRadioInputs = document.querySelectorAll('.product-form__input input[type="radio"]');

  const options = {{ product.variants | json}}
 
  const variantRadios = document.querySelectorAll('input[type="radio"]');
const variantSelectElements = document.querySelectorAll('select[name*="option"]');


variantRadios.forEach(radio => {
  radio.addEventListener('change', async (event) => {  // Marked the callback as async
  event.stopPropagation();
    const variantId = event.target.getAttribute('value');
    console.log("Variant ID selected:", variantId);
    
    const variants = {{ product.variants | json }};
    const selectedVariant = variants.find(variant => variant.title == event.target.value);
    if (selectedVariant) {
      console.log("Selected Variant:", selectedVariant);
      document.getElementsByClassName("product-variant-id")[0].value = selectedVariant.id;
      changeData(selectedVariant.id);

    //   console.log(variantMetafields[selectedVariant.id]['pay_your_price_enable'])
    //   // officialPrice.innerHTML = `${} - ${displayMaxPrice}`;
    //   const currentVariant = {{ product.selected_or_first_available_variant | json  }}
    //   console.log("Current Variant:", variantMetafields[selectedVariant.id]['pay_your_price_enable']);
    //   const displayMinPrice = variantMetafields[selectedVariant.id]['displayMinPrice'];
    //   const displayMaxPrice = variantMetafields[selectedVariant.id]['displayMaxPrice'];
    //   const suggestedPrice = variantMetafields[selectedVariant.id]['suggested_price'];
    //   const displaySuggestedPrice = variantMetafields[selectedVariant.id]['suggested_price'];
    //   const officialPrice = document.querySelector(".price-item");
    // let minPrice = variantMetafields[selectedVariant.id]['minPrice'];
    //     console.log(minPrice);

    //     if (minPrice !== null) {
    //       officialPrice.innerHTML = `${displayMinPrice} - ${displayMaxPrice}`;
    //       if(suggestedPrice !== null){
    //         officialPrice.innerHTML += ` <br> Suggested Price: ${displaySuggestedPrice}`;
    //       }
    //     }

// officialPrice.innerHTML = `${displayMinPrice} - ${displayMaxPrice}`;
      // officialPrice.innerHTML = `${} - ${displayMaxPrice}`;
      const selectedVariantLiquid = {{ product.selected_variant | json }};
      console.log("Selected Variant by Liquid:", selectedVariantLiquid );
    } else {
      console.log("Variant not found");
    }
  });
});



    if (template === 'product' && isValid) {
      const currenctProduct  = {{ product.selected_or_first_available_variant.id }};
      console.log("Current Product:", currenctProduct);
      changeData(currenctProduct);
     
    }
  });
</script>




{% schema %}
{
  "name": "Price Input Block",
  "target": "body",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product",
      "autofill": true
    }
  ]
}
{% endschema %}